:root {
    --couleur-primaire : #8F0094;
}

h1 {
font-size: 2.8rem;
}

p:has(> img) {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 1000px) {
img:not(#accueil){
max-width: 50%;
}}